/* Default settings for inheritances. */
html {
    /* Remove disabled vertical scrollbar in IE7 */
    overflow:auto;
    height:100%;
    color:#2e3436;
}

h1, h2, h3, h4 {
    font-family:Georgia, "Times New Roman", serif;
    color:#105A89;
}

h1{
    font-size: 3em;
    margin:0em 0 0.75em;
}
h2{
    font-size: 2em;
    margin:1em 0 1em;
}
h3{
    font-size: 1.5em;
    margin:1em 0 1.285em;
}
h4{
    font-size: 1.1666em;
    margin:1em 0 1.5em;
}

p {
    line-height:1.4em;
    margin:0;
    padding:0 0.25em 1em 0.25em;
}

li, p, fieldset {
    font-size: 1.2em;
}

table {
    font-size: 1.1em;
}

li li {
    font-size: 100%; /* Force all nested elements to keep the same size */
}

/* HTML body start */

body {
    height:100%;
    background:url('../graphics/bodybg.png') repeat-x top left;
}

#wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -40px; /* the bottom margin is the negative value of the footer's height */
}

#topNavBg {
    position:absolute;

    width:50%;
    height:39px;
    top:62px;
    left:50%;

    background:url('../graphics/topnavbg.png') repeat-x;
}

/* Top start */
#top {
    position:relative;
    margin:0 auto;

    height:155px;
    width:860px;
}

#topLogo {
    margin:20px 0 0 0;
    float:left;
}

#topNavBgFade {
    float:left;

    margin:62px 0 0 0;

    width:80px;
    height:39px;

    background:url('../graphics/topnavbgfade.png') no-repeat;
}

#topNav {
    float:right;
    margin:62px 0 0 0;

    background:url('../graphics/topnavbg.png') repeat-x;

    line-height:39px;
    font-size:14px;
}

#topNav li {
    display:inline;
    margin:0 0 0 15px;
}

#topNav li a {
    color:#fff;
    text-decoration:none;
    font-weight:bold;
}

#topNav a.current {
    background:url('../graphics/topnavcurrent.png') repeat-x bottom;
}

#topUserNav {
    float:right;
    clear: right;
    margin-top: 12px;
    font-size:12px;
    font-family:tahoma, verdana, arial;
}

#topUserNav a {
    color:#fff;
    text-decoration:underline;
}

/* Top end */


#footer {
    height:40px;
    background-color: #d3d7cf;
    line-height:40px;
    text-align:center;
    font-size:12px;
	margin:25px 0 0 0;
}

#footerFix {
    height:40px;
    clear:left;
}

#footer a {
    color:#2e3436;
}

/* HTML body end */

/* Common classes start */

.vertSeperatorTiny {
    margin:0px 3px;
}

.vertSeperatorSmall {
    margin:0px 5px;
}

.vertSeperatorMedium {
    margin:0px 10px;
}

.floatLeft {
    float:left;
}

/* Common classes end */
