/* Concrete5 changes start */

body {
    margin:0px 0px 0px 0px !important;
}

#ccm-page-controls {
    display: none;
}

div#ccm-page-detail {
	top: 0px;
}

/* Page controls start */

#pageControls a {
    color:#414141;
    text-decoration:none;
    font-weight:bold;
    font-size:13px;
}

#pageControls ul {
    float: right;
}

#pageControls ul li {
    display:inline;
    margin-left: 15px;
}

/* Mid wrapper start */

#mid, #pageControls {
    width:860px;
    margin:10px auto 0;
    
}

/* Left sidebar start */

#midLeft {
    float:left;

    width:156px;
    min-height:351px;

    margin:45px 0 0 0;

    background:url('../graphics/midleftseperator.png') no-repeat 100% 0;
}

#midLeft h2 {
    margin:2px 0 6px 10px;
}

/* Left navigation start */

.leftNav {
    margin: 10px 0 30px 10px;
}

.leftNav li {
    margin:6px 0 6px;
}

.leftNav a {
    padding:0 0 0 10px;
    color:#414141;
    text-decoration:none;
    font-weight:bold;
    font-size:13px;
}

.leftNav a.current {
    background:url('../graphics/leftnavcurrent.png') no-repeat 0px 4px;
}


/* Left navigation end */

/* Left newsletter signup start */

#leftNewsletter {
    margin:50px 0 0 10px;
}

#leftNewsletter h2 {
    margin-left:0px;
}

#leftNewsletter .inputTxt {
    width:122px;
    height:22px;

    padding:3px 10px 1px 2px;
    background:url('../graphics/leftnewsletterinput.png') no-repeat;
}

#leftNewsletter .inputTxt input {
    width:117px;
    height:18px;
    line-height:18px;

    color:#626262;

    border:none;
    background:none;
}

#leftNewsletter .inputSubmit input {
    width:44px;
    height:20px;

    padding:0;
    border:none;
    background:url('../graphics/leftnewsletterbutton.png') no-repeat;
}

/* Left newsletter signup end */

#kitaKanji {
    width:145px;
    height:138px;

    margin:120px 0 0 10px;

    background:url('../graphics/kitakanjitransparent.png') no-repeat;
}

/* Left sidebar end */

/* Content wrapper start */

#midContent {
    float:left;
    width:670px; 
    margin:10px 0 0 34px;
    color:#484848;
    line-height:17px;
}

#midContent a {
    color:#36a0e2;
    text-decoration:underline;
}

#midContent a.specialLink {
    padding:0 0 0 17px;
    margin:10px 0 10px 6px;

    display:block;

    font-family:Times;

    text-decoration:underline;
    color:#549ecc;
    background:url('../graphics/linkarrow.png') no-repeat 0px 5px;
}

#midContent table {
    margin-bottom: 1em;
}

#midContent td {
    padding-right: 20px;
}

#midContent thead td {
    font-weight: bold;
    padding-top: 5px;
    padding-bottom: 5px;
}

#midContent tbody td {
    padding-bottom: 2px;
}

#midContent tbody tr:nth-last-of-type(1) td {
    padding-bottom: 5px;
}

#midContent table {
    border-width: 1px 0 1px 0;
    border-style: solid;
    border-color: #000000;
}

#midContent #midSlideshow {
    padding:2px;
    border:1px solid #c8c8c8;
    margin:0 0 10px 0;
}

/* Content wrapper end */

/* Mid wrapper end */
