/* Concrete5 changes start */

body {
    margin:0px 0px 0px 0px !important;
}

#ccm-page-controls {
    display: none;
}

div#ccm-page-detail {
	top: 0px;
}

/* Page controls start */

#pageControls a {
    color:#414141;
    text-decoration:none;
    font-weight:bold;
    font-size:13px;
}

#pageControls ul {
    float: right;
}

#pageControls ul li {
    display:inline;
    margin-left: 15px;
}

/* Mid wrapper start */

#mid, #pageControls {
    width:860px;
    margin:10px auto 0;
    height: 2.3em;

}

/* Left sidebar start */

#midLeft {
    float:left;
    width:176px;
    min-height:351px;
    margin:15px 0 0 0;
    background:url('../graphics/midleftseperator.png') no-repeat 100% 0;
}

#midLeft h2 {
    margin:2px 0 6px 10px;
    font-size: 1.1666em;
    text-transform:uppercase;
}

/* Left navigation start */

.leftNav {
    margin: 10px 0 30px 10px;
}

.leftNav ul {
    margin-left: 10px;
}

.leftNav li {
    margin:6px 0 6px;
    list-style: none;
    font-size: 1.2em;
}
.leftNav li li {
    padding-left: 0.5em;
    font-size: 0.9em;
}

.leftNav a {
    padding:0 0 0 10px;
    color:#2e3436;
    text-decoration:none;
}

.leftNav a.current {
    background:url('../graphics/leftnavcurrent.png') no-repeat 0px 4px;
}

/* Left navigation end */

/* Left newsletter signup start */

#leftNewsletter {
    margin:50px 0 0 10px;
}

#leftNewsletter h2 {
    margin-left:0px;
}

#leftNewsletter .inputTxt {
    width:122px;
    height:22px;

    padding:3px 10px 1px 2px;
    background:url('../graphics/leftnewsletterinput.png') no-repeat;
}

#leftNewsletter .inputTxt input {
    width:117px;
    height:18px;
    line-height:18px;

    color:#626262;

    border:none;
    background:none;
}

#leftNewsletter .inputSubmit input {
    width:44px;
    height:20px;

    padding:0;
    border:none;
    background:url('../graphics/leftnewsletterbutton.png') no-repeat;
}

/* Left newsletter signup end */

#kitaKanji {
    width:145px;
    height:138px;

    margin:120px 0 0 10px;

    background:url('../graphics/kitakanjitransparent.png') no-repeat;
}

/* Left sidebar end */

/* Content wrapper start */

#midContent {
    float:left;
    width:650px;
    margin:10px 0 0 34px;
    color:#484848;
    line-height:17px;
}

#midContent ul li {
    list-style-type: square;
    margin-left: 1.4em;
}

#midContent ul.table-options li {
	list-style-type:none;
	margin:3px 10px;
}

#midContent ol li {
    list-style-type: decimal;
}

#midContent a {
    color:#36a0e2;
    text-decoration:underline;
}

#midContent a.specialLink {
    padding:0 0 0 17px;
    margin:10px 0 10px 6px;

    display:block;

    font-family:Times;

    text-decoration:underline;
    color:#549ecc;
    background:url('../graphics/linkarrow.png') no-repeat 0px 5px;
}

#midContent #midSlideshow {
    padding:2px;
    border:1px solid #c8c8c8;
    margin:0 0 10px 0;
}

/* Content wrapper end */

/* Mid wrapper end */

/* Tables start */

#midContent table {
    margin-bottom: 1em;
    background: #f2f2f2;
}

#midContent table td, #midContent table th {
    border-color: #cccccc;
    border-style: solid;
    border-width: 1px 0 1px 0;
    padding:.4em 1em .4em 7px;
    text-align: left;
}

#midContent thead td {
    font-weight: bold;
    padding-top: 5px;
    padding-bottom: 5px;
}

#midContent tbody td {
    padding-bottom: 2px;
}

#midContent tbody tr:nth-last-of-type(1) td {
    padding-bottom: 5px;
}

/* Tables end */

/* Rules start */

dl {
    margin-left: 20px;
}

dt {
    font-weight: bold;
    font-style: italic;
    margin-top: 10px;
}

dd {
    text-align: justify;
}

dd ol {
    margin-top: 1em;
    margin-left: 40px;
    margin-bottom: 1em;
}

/* Rules end */

/* Profile page */

#profile-info {
  float: left;
  margin-right: 1em;
}

#profile-image {
  overflow: auto;
  background-color: #F2F2F2;
  border: #CCCCCC solid 1px;
  width: 280px;
}

#profile-image.right {
  float: right;
}

#profile-image img {
  margin: 10px auto 10px auto;
  max-width: 260px;
  display: block;
}

#profile-achivements {
  clear: both;
}

#profile-matrix {
  width: 340px;
}

#profile-matrix th {
  font-weight: normal;
  vertical-align: top;
}

#profile-matrix .pause {
  background-color: #FFFFFF;
}

.profile-achivement	{
  font-size: 1.6em;
  font-weight: bold;
  margin: 0 0 0.5em 0;
}

.profile-achivement img	{
  margin-right: 1em;
}

.profile-achivement-comment {
  font-size: 0.8em;
  font-style: italic;
}