/**
 * Anime Kita default styles
 * $Revision$
 * $Date$
 **/
 
 body {	
 	background: #E7E9E9 url(http://static.anime-kita.dk/images/bg-top.png) repeat-x;
	margin-top: 0;
 	font-family: Verdana, sans-serif;
	color: #3E3E3E;
 }
 
h1, h2, h3, h4, h5, h6 { 
	color: #3E3E3E;
	font-family: Georgia, "Times New Roman", serif; 
	letter-spacing: 1px;
}

h2 { 
	font-size: 1.6em; 
}

p, li {
	text-align: justify;
}

a {
	text-decoration: none;
	color: #3E3E3E;
	font-weight: bold;
	border-width: 0 0 1px 0;
	border-color: #3E3E3E;
	border-style: dotted;
}

/** Footer **/
#footer {
	text-align: center;
}