/**
 * Anime Kita content page styles
 * $Revision$
 * $Date$
 **/

/** Banner **/
#banner {
	background: #FFFFFF url(http://static.anime-kita.dk/images/extra-banner.png) no-repeat;
	height: 109px;
}
#banner h1 {
	display: none;
}

/** Container **/
#container {
	background: #FFFFFF url(http://static.anime-kita.dk/images/extra-bg.png) repeat-y;
}
#container-inner {
	background: url(http://static.anime-kita.dk/images/extra-side-top.png) no-repeat top right;
	overflow: auto;
}

/** Content **/
#content {
	overflow: auto;
	width: 540px;
}

#content p, #content h2, #content h3, 
#content h4, #content fieldset, #content table, 
#content ul, #content span, #content dl {
	margin-right: 30px;
	margin-left: 10px;
}

#content ul {
	padding-left: 18px;
	list-style: square;
}

#content ul li {
	padding-bottom: 1em;
	font-size: 1.3em;
}

#content h2 {
	margin-top: 0;
	margin-bottom: 0.5em;
	margin-left: 7px; /** Header correction, seemed to be pressed a little to far into the page **/
}

#content p {
	margin-top: 0;
}

#content span.news-single-timedata {
	float: right;
}

#content span.news-single-backlink {
	float: left;
}

/** Menu **/
#menu {
	width: 180px;
	float: left;
}

#menu ul {
	list-style: none;
	padding: 0;
	margin:  3.5em 0 10px 10px;
}

#menu ul li {
	margin-left: 18px;
	margin-right: 10px;
	margin-bottom: 7px;
}

#menu ul li a {
	text-decoration: none;
	font-weight: normal;
	border: none;
	font-size: 1.3em;
}

#menu #pageControls li a {
	font-weight: normal;
	margin-left: 20px;
	font-style: italic;
}

#menu #pageControlsPrint {
	background-image: url(http://static.anime-kita.dk/images/printer.png);
	background-repeat: no-repeat;
}

#menu #pageControlsPDF {
	background-image: url(http://static.anime-kita.dk/images/pdf.png);
	background-repeat: no-repeat;
}

/** Footer **/
#footer {
	padding-top: 23px;
	background: url(http://static.anime-kita.dk/images/extra-bottom.png) no-repeat top right;
}

/** Breadcrumbs **/
#breadcrumbs {
	height: 27px;
	background: #000000 url(http://static.anime-kita.dk/images/extra-bread.png) no-repeat;
}

#breadcrumbs ul {
	background: 0;
	list-style: none;
	margin: 0 0 0 0;
	padding: 0 20px 0 0 ;
	float: right;
}

#breadcrumbs ul li {
	display: inline;
	margin: 0;
}

#breadcrumbs ul li a, #breadcrumbs ul li span {
	margin: 0 5px 0 0;
	font-size: 1.0em;
	line-height: 2.4em;
	font-weight: normal;
}

/** Archive **/
#content #archive {
	padding: 0;
}

#content #archive li a {
	border: 0;
}
#content #archive li {
	list-style: none;
	padding: 0;	
}
#content #archive li a span {
	font-weight: normal;
	font-size: 1em;
	margin: 0 10px 0 0;
}

/** Content links **/
#content dt {
	font-size: 1.3em;
}
#content dd, #content dd p {
	margin: 0;
	padding: 0;
}

/** Contact form **/
.csc-mailform label {
	display: block;
}
.csc-mailform-field input, .csc-mailform textarea {
	width: 466px;
}
.csc-mailform input.csc-mailform-submit {
	width: auto;
}
#mailform {
	margin: 0px;
  	padding: 0px;
}

/** tables **/
#content table {
  	border:1px dashed #ccc; border-width: 0 0 1px 0;
  	width: 500px;
	background-color: black;
	border-collapse: collapse; 
}

#content table td, #content table th {
  	background:#f9f9f9;
  	border:1px dashed #ccc; border-width:1px 0 0 0;
	padding: 0.4em 0 0.4em 7px;
	font-weight: normal;
}

#content table.vertical th {
	width: 45%;
}

#content ul.table-options {
	list-style-type: none;
	padding: 0;
}
#content ul.table-options li {
	display: inline;
	margin: 0 10px 0 10px;
	padding: 0px;
}
#content ul.table-options li a {
	font-weight: normal;
}

#content #messages {
	background-color: #45B2E4;
	list-style: none;
	padding: 0 0 10px 0;
	overflow: auto;
	border: solid 1px #000000;
}
#content #messages li {
	margin: 10px 10px 0px 10px;
	font-style: italic;
	padding: 0;
	
}
