 /** Banner **/
#banner a {
	background: url(http://static.anime-kita.dk/v2.1/images/banner.png) no-repeat;
	height: 107px;
	display: block;
	
    padding: 107px 0 0 0;
    overflow: hidden;
    height: 0px !important;
    height /**/:107px;
	
	border: none;
}

/** Welcome message **/
#banner-msg {
	background: url(http://static.anime-kita.dk/v2.1/images/banner-msg.png) no-repeat;
	height: 176px;
}

#banner-msg h2 {
	margin-top: 20px;
	margin-left: 30px;
}

#banner-msg p {
	margin: 0 300px 0 30px;
	text-align: justify;
}

/** Menu and Forum **/
#menu, #forum {
	background: #FFFFFF url(http://static.anime-kita.dk/v2.1/images/menu-bottom.png) no-repeat bottom;
	width: 197px;
	overflow: auto;
}

#menu h2, #forum h2 {
    padding: 37px 0 0 0;
    overflow: hidden;
    height: 0px !important;
    height /**/:37px;
	
	width: 197px;
	margin: 0;
}

#menu h2 {
	background: #FFFFFF url(http://static.anime-kita.dk/v2.1/images/menu.png) no-repeat;
}

#forum h2 {
	background: #FFFFFF url(http://static.anime-kita.dk/v2.1/images/forum.png) no-repeat;
}

#menu ul, #forum ul {
	background: #FFFFFF url(http://static.anime-kita.dk/v2.1/images/menu-bg.png) repeat-y;
	width: 197px;
	margin: 0 0 29px 0;
	padding: 10px 0px 0px 0px;
	list-style: none;
}

#menu li, #forum li {
	margin-left: 12px;
	margin-right: 18px;
	margin-bottom: 4px;
}

#forum li {
	margin-top: 5px;
}

#menu li a, #forum li a {
	text-decoration: none;
	font-weight: normal;
	border: none;
}

#menu li a:hover {
	font-weight: bold;
}

#forum li a span {
	display: block;
	margin-bottom: 1em;
}

/** Content **/
div.content {
	background: url(http://static.anime-kita.dk/v2.1/images/content-bottom.png) no-repeat bottom left;
	overflow: auto;
}

div.content-inner {
	margin-bottom: 23px;
	margin-right: 2px;
	text-align: justify;
	background: #FFFFFF url(http://static.anime-kita.dk/v2.1/images/content-side.png) repeat-y right;
	overflow: auto;
}

div.content h2 {
	background: url(http://static.anime-kita.dk/v2.1/images/content-top.png) no-repeat;
	padding: 14px 0 0 20px;
}

div.content span.news-single-timedata {
	float: right;
	margin-right: 30px;
}

div.content-inner p, div.content-inner h3, 
div.content-inner h4, div.content-inner fieldset, div.content-inner table, 
div.content-inner ul, div.content-inner span, div.content-inner dl {
	margin-right: 30px;
	margin-left: 20px;
}

div.content-inner ul {
	padding-left: 28px;
	list-style: square;
}
div.content-inner ul li {
	line-height: 2em;
}
