/** Banner **/
#banner {
	background: #FFFFFF url(http://static.anime-kita.dk/images/banner.png) no-repeat;
	height: 107px;
}
#banner h1 {
	display: none;
}

/** Menu / Forum **/
#menu, #forum {
	background: #FFFFFF url(http://static.anime-kita.dk/images/menu-bottom.png) no-repeat bottom;
	width: 197px;
	overflow: auto;
}
#menu h2, #forum h2 {
    padding: 37px 0 0 0;
    overflow: hidden;
    height: 0px !important;
    height /**/:37px;
	
	width: 197px;
	margin: 0;
}
#menu h2 {
	background: #FFFFFF url(http://static.anime-kita.dk/images/menu.png) no-repeat;
}
#forum h2 {
	background: #FFFFFF url(http://static.anime-kita.dk/images/forum.png) no-repeat;
}
#menu ul, #forum ul {
	background: #FFFFFF url(http://static.anime-kita.dk/images/menu-bg.png) repeat-y;
	width: 197px;
	margin: 0 0 29px 0;
	padding: 10px 0 0 0;
	list-style: none;
}
#menu li, #forum li {
	margin-left: 18px;
	margin-right: 10px;
	margin-bottom: 7px;
}

#menu li a, #forum li a {
	font-size: 1.3em;
	text-decoration: none;
	line-height: 1em;
	font-weight: normal;
	border: none;
}

#forum li a span {
	display: block;
	font-size: 0.8em;
	line-height: 1.6em;
}

/** Content container **/
#content-container {
	float: right;
	width: 513px;
}

/** Content **/
div.content h2 {
	background: url(http://static.anime-kita.dk/images/content-top.png) no-repeat;
	margin: 0;
	padding: 14px 0 0 20px;
	line-height: 2em;
}

div.content h2 a {
	border: 0;
	font-weight: normal;
	font-size: 1em;
}

div.content span.news-latest-date a {
	border: 0;
	font-weight: normal;
	float: right;
	margin-right: 30px;
}

div.content span.news-latest-morelink {
	float: left;
}

div.content-inner * {
	margin: 0 30px 10px 20px;
}
div.content-inner * * {
	margin: 0;
}
div.content-inner {
	margin-bottom: 23px;
	text-align: justify;
	background: #FFFFFF url(http://static.anime-kita.dk/images/content-side.png) repeat-y right;
	overflow: auto;
}

div.content, div.content-anime {
	background: url(http://static.anime-kita.dk/images/content-bottom.png) no-repeat bottom;
	overflow: auto;
}

/** Content anime **/
div.content-anime h2 {
	background: url(http://static.anime-kita.dk/images/luckystar_ani.png) no-repeat;
	margin: 0;
	line-height: 2em;
	padding: 167px 0 0 10px;
}

/** Velcome message **/
#banner-msg {
	background: #FFFFFF url(http://static.anime-kita.dk/images/banner-msg.png) no-repeat;
	height: 176px;
}
#banner-msg h2 {
	margin-top: 26px;
	margin-left: 30px;
}
#banner-msg p {
	margin: 0 300px 0 30px;
	text-align: justify;
}
#banner-msg ul {
	margin: 10px 0 0 30px;
	padding: 0;
	list-style: none;
}
#banner-msg ul li {
	display: inline;
	margin-right: 2em;
}
